@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px;
  padding: 0px;
  margin: 0px;
  background: transparent;
}
button:hover {
  cursor: pointer;
}

html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background-color: rgb(21, 21, 21);
  font-size: 10px;
  padding: 0;
  margin: 0px;
}

body {
  position: relative;
  padding-bottom: 100px;
}

header {
  height: 50px;
  position: sticky;
  top: 0px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 1280px;
  padding: 0px 80px;
  background: rgb(21, 21, 21);
}

.logo_div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 3rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.main_section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1280px;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
}

.podcast_card {
  background: rgb(39, 39, 39);
  border-radius: 4px;
  padding: 0.7rem;
  width: 22rem;
  height: 30rem;
}
.podcast_card:hover {
  background-color: rgb(54, 53, 53);
}

.podcast_card__img {
  border-radius: 3px;
  width: 100%;
}

.podcast_card__main_txt {
  font-size: 1.3rem;
  color: #fff;
}

.podcast_card__sec_txt {
  font-size: 1rem;
  color: #adadad;
}

.detail__page {
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 80%;
}

.detail__backbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  width: 100%;
}

.page-content {
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.backbtn {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 3rem;
  border: 0px;
  color: #adadad;
}

.backbtn::before {
  position: absolute;
  content: "➤";
  left: 0;
  top: -1px;
  transform: rotate(180deg);
}

.description {
  width: 100%;
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.detail__desc_img {
  grid-row: 1/4;
  width: 15rem;
}

.main_desc {
  color: #fff;
  font-size: 3rem;
}

.little_desc {
  color: #adadad;
  font-size: 1.7rem;
}

.episodes-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: flex-start;
  font-size: 1.7rem;
  color: #adadad;
}

.episodes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  color: #adadad;
}

.episode-row {
  color: #adadad;
  background-color: rgb(39, 39, 39);
  border: 1px solid #696969;
  border-radius: 5px;
  width: 100%;
  padding: 1rem;
  gap: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.episode-row:hover {
  transform: scale(1.009);
}

.episode-play-btn {
  font-size: 2rem;
  color: #696969;
}
.episode-play-btn:hover {
  cursor: pointer;
}

.episode-info {
  flex: 1;
}

.episode-title {
  position: relative;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.episode-title::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #696969;
  left: 0px;
  bottom: -7px;
}

.episode-release {
  padding-top: 0.9rem;
  font-size: 1.3rem;
}

.episode-queue-btn {
  font-size: 1.5rem;
  color: #696969;
}
.episode-queue-btn:hover {
  cursor: pointer;
}

.audio-player {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #696969;
  background: rgb(21, 21, 21);
  gap: 1rem;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 1260px;
  height: 8rem;
  padding: 10px 80px 10px 80px;
}

.audio-txt {
  font-size: 1.7rem;
  color: #fff;
}

.playbtn {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 2.3rem;
}

.audio-duration {
  flex: 1;
}/*# sourceMappingURL=style.css.map */