$main-font: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;

$main-back:rgb(21, 21, 21);
$card-back:rgb(39, 39, 39);
$card-back-hover:rgb(54, 53, 53);
$main-txt:#fff;
$sec-txt:#adadad;

@mixin flexcenter{
	display: flex;
	align-items: center;
	justify-content: center;
}

html,body{
	@include flexcenter;
	font-family: $main-font;
	background-color: $main-back;
	font-size: 10px;
	padding: 0px;
	margin: 0px;
}
*{
	box-sizing: border-box;
}
.main_section{
	@include flexcenter;
	width: 1280px;
	flex-wrap: wrap;
	padding: 1rem;
	gap: 1rem;
}
.podcast_card{
	background: $card-back;
	border-radius: 4px;
	padding: 0.7rem;
	width: 22rem;
	height: 30rem;
	&:hover{
		background-color: $card-back-hover;
	}
}

.podcast_card__img{
	border-radius: 3px;
	width: 100%;
}
.podcast_card__main_txt{
	font-size: 1.3rem;
	color: $main-txt;
}
.podcast_card__sec_txt{
	font-size: 1rem;
	color: $sec-txt;
}